[Oo]bj/
src/**/[Bb]in/
specs/**/[Bb]in/
.nuget/
_ReSharper.*
packages/
artifacts/
*.user
*.cache
*.suo
*.userprefs
*DS_Store
*.sln.ide
lib/license.xml
lib/Sitecore/*
!lib/Sitecore/readme.MD
lib/System/*
!lib/System/readme.MD
.sonar
vars.user.cmd
/.vs
/target
/node_modules
temp/
*.ncrunchproject
*.ncrunchsolution
.vscode
nCrunchTemp*.*

*.log

/localLib/9.0.0/*
!/localLib/9.0.0/readme.md
!/localLib/9.0.0/*.json
!/localLib/9.0.0/*.xml

/localLib/9.0.1/*
!/localLib/9.0.1/readme.md
!/localLib/9.0.1/*.json
!/localLib/9.0.1/*.xml

!/localLib/readme.md


/sandbox/*
!/sandbox/readme.md
!/sandbox/solr/readme.md